[Unit]
Description=Bluesky Feedgen
After=network.target

[Service]
Type=exec
User=feedgen	
WorkingDirectory=/var/lib/feedgen/src/
ExecStart=/usr/bin/node index.ts
Restart=on-failure

[Install]
WantedBy=multi-user.target
