[Unit]
Description=Run Feedgen Cron Every 2 hours

[Timer]
OnCalendar=00/2:30
Unit=feedgen-cron.service
Persistent=false

[Install]
WantedBy=timers.target
